html {
   background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
   background-size:cover;
   font-family:'helvetica neue';
   text-align: center;
   font-size: 10px;
 }
 body {
   margin: 0;
   font-size: 2rem;
   display:flex;
   flex:1;
   min-height: 80vh;
   align-items: center;
 }

.clock {
  border: 2em solid white;
  border-radius: 50%;
  height: 25em;
  width: 25em;
  margin: 60px auto;
  position: relative;
  padding: 1em;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;

}

.hand {
  color: black;
  height: 6px;
  width: 50%;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
